<div class="row">
	<div class="col-xs-12">
		<p>Add new Servers or blueprints!</p>
		<label>Server Name</label>
		<!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
		<!-- Two way dataBinding is used here to get the server name -->
		<input type="text"
    class="form-control"
    #serverNameInput>
    <!-- WHAT IS LOCAL REFERENCE AND HOW IT CAN BE PASSED IN THE TypeScript Code ?? -->
		<!-- we are using two way data binding to get the Server Name and the Content 
    there is another approach to get this server name and content
    since we only want to save or use the data at the point of time when we click the button the [Add Server]
    or the [Add Server Blueprint] it would be enough to get the value at this point of time and there is another way we can achieve that is,
    to place a local reference on the element.
    A local reference can be placed on any HTML element so not only on the InputElement, on anything  we see
    on the template {SYNTAX: [#nameofanychoice]}.
    This reference will hold the reference to the element, not only the value just entered there but to the whole HTML element
    with all it's properties,we can see this if we pass this local reference as an argument to the function(onAddServer) here.
    (we can use the local references everywhere in the template but not inside the typeScript code only in the template but
     we do call the method here inside the template so that we can use our local reference to pass it as an argument)THIS is the way how we pass the local reference to the TypeScript code.
     Local reference gives us the element with all it's properties so we can also output the value of the properties.
     And we can see that in the console by inspecting the code
     -->

		<label>Server Content</label>

		<!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!--
      Another way of getting access to local reference or to any element actually,directly from within our typeScript
      code.
    -->
		<input 
      type="text" 
      class="form-control" 
      #serverContentInput>
    <br>
		<button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
		<button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
	</div>
</div>